<template>
    <v-container class="pa-1 tertiary-background">
      <h1 class="text-center">{{ pageTranslations.about_us_headline }}</h1>
      <div class="pa-2">
        <span v-if="translatedAboutUs" class="wysiwyg-text" v-html="translatedAboutUs['content']" />
      </div>
  
    </v-container>
</template>
  
<script setup>

  import { ref, inject, onMounted, computed } from 'vue'

  import { readItems } from '@directus/sdk'

  const directus = inject('directus')
  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  var about_us = ref(null)

  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
      {
        title: 'Über uns - ' + tenant.seo_title,
        meta: [{ name: 'description', content: 'Infos zu unserem Projekt' }],
        link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
      }
    )

  onMounted(async () => {

      const result = await directus.request(readItems('about_us', {fields: ['*.*'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID} }))
      about_us.value = result[0]

  })

  const translatedAboutUs = computed(() => {
    if (!about_us.value) return []

    let userLanguage = commonStore.getLanguage()

    let temp = about_us.value.translations.find(element => element.languages_code == userLanguage) 

    return temp ? temp : []
  })

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>