<template>
  <v-container class="pa-1 tertiary-background">
    <h1 class="text-center">{{ pageTranslations.authority_headline }}</h1>
    
    <p class="pa-1 text-body-2 text-md-body-1">
      {{ pageTranslations.authority_intro_1 }}
      <br /><br />
      {{ pageTranslations.authority_intro_2 }}
    </p>

    <v-stepper v-model="step" flat hide-actions :items="[pageTranslations['authority_prison_title'], pageTranslations['authority_age_title'], pageTranslations['authority_gender_title'], pageTranslations['authority_city_title'], pageTranslations['authority_surname_title'], pageTranslations['authority_result_title']]">

      <template v-slot:item.1>
      
        <v-card class="ma-1 flexcard" height="400px">
          <v-card-text class="grow">
            {{ pageTranslations.authority_prison }}
          </v-card-text>

          <v-row class="ma-2">
            <v-col cols="6">
              <v-card @click="step = 6; authority = 'Sozialberatung'" class="fill-height" color="success">
                  <v-row align="center" justify="center" class="fill-height">
                    <v-col cols="6" class="white--text text-center text-h5 text-md-h3">
                      {{ pageTranslations.authority_yes }}
                    </v-col>
                  </v-row>
              </v-card>
            </v-col>
            <v-col cols="6">
              <v-card @click="step = 2" class="fill-height" color="error">
                <v-row align="center" justify="center" class="fill-height">
                  <v-col cols="6" class="white--text text-center text-h5 text-md-h3">
                    {{ pageTranslations.authority_no }}
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </template>

      <template v-slot:item.2>
        <v-card class="ma-2 flexcard" height="400px">
          <v-card-text class="grow">
            {{ pageTranslations.authority_age }}
          </v-card-text>

          <v-row class="ma-2">
            <v-col cols="6">
              <v-card  @click="step = 6; authority = 'ZBS Junge Erwachsene'" class="fill-height" color="success">
                <v-row align="center" justify="center" class="fill-height">
                    <v-col cols="6" class="white--text text-center text-h5 text-md-h3">
                      {{ pageTranslations.authority_yes }}
                    </v-col>
                  </v-row>
              </v-card>
            </v-col>
            <v-col cols="6">
              <v-card  @click="step = 3" class="fill-height" color="error">
                <v-row align="center" justify="center" class="fill-height">
                  <v-col cols="6" class="white--text text-center text-h5 text-md-h3">
                    {{ pageTranslations.authority_no }}
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>

          <v-card-actions>
            <v-btn color="white" style="background-color: rgb(var(--v-theme-primary));" class="float-right" @click="step = 1">{{ pageTranslations.authority_back }}</v-btn>
            <v-spacer />
          </v-card-actions>
        </v-card>
      </template>

      <template v-slot:item.3>
        <v-card class="ma-2 flexcard" height="400px">
          <v-card-text class="grow">
            {{ pageTranslations.authority_gender }}
          </v-card-text>

          <v-row class="ma-2">
            <v-col cols="6">
              <v-card  @click="step = 6; authority = 'Zentrale Frauenberatung'" class="fill-height" color="success">
                <v-row align="center" justify="center" class="fill-height">
                    <v-col cols="6" class="white--text text-center text-h5 text-md-h3">
                      {{ pageTranslations.authority_yes }}
                    </v-col>
                  </v-row>
              </v-card>
            </v-col>
            <v-col cols="6">
              <v-card  @click="step = 4" class="fill-height" color="error">
                <v-row align="center" justify="center" class="fill-height">
                  <v-col cols="6" class="white--text text-center text-h5 text-md-h3">
                    {{ pageTranslations.authority_no }}
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>

          <v-card-actions>
            <v-btn color="white" style="background-color: rgb(var(--v-theme-primary));" class="float-right" @click="step = 2">{{ pageTranslations.authority_back }}</v-btn>
          </v-card-actions>
        </v-card>
      </template>

      <template v-slot:item.4>
        <v-card class="ma-2 flexcard" :height="mobile ? 800 : 400">
          <v-card-text>
            {{ pageTranslations.authority_city }}
          </v-card-text>

          <v-row class="ma-2">
            <v-col cols="12" md="4">
              <v-card  @click="step = 6; authority = 'Regionale Fachberatungsstelle Mitte/Nord eva'" class="fill-height" color="success">
                <v-card-text class="white--text text-caption text-md-body-1">
                  {{ pageTranslations.authority_city_1 }}
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="4">
              <v-card  @click="step = 6; authority = 'Regionale Beratungsstelle Mitte/Süd'" class="fill-height" color="success">
                <v-card-text class="white--text text-body-2 text-md-body-1">
                  {{ pageTranslations.authority_city_2 }}
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="4">
              <v-card  @click="step = 6; authority = 'Regionale Fachberatungsstelle Ost'" class="fill-height" color="success">
                <v-card-text class="white--text text-body-2 text-md-body-1">
                  {{ pageTranslations.authority_city_3 }}
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="4">
              <v-card  @click="step = 6; authority = 'Fachberatung Nord'" class="fill-height" color="success">
                <v-card-text class="white--text text-body-2 text-md-body-1">
                  {{ pageTranslations.authority_city_4 }}
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="4">
              <v-card  @click="step = 6; authority = 'Regionale Beratungsstelle Bhf. Möhringen'" class="fill-height" color="success">
                <v-card-text class="white--text text-body-2 text-md-body-1">
                  {{ pageTranslations.authority_city_5 }}
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="4">
              <v-card  @click="step = 5" class="fill-height" color="error">
                <v-row align="center" justify="center" class="fill-height">
                  <v-col cols="6" class="white--text text-center text-h5 text-md-h3">
                    {{ pageTranslations.authority_no }}
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>

          <v-card-actions>
            <v-btn color="white" style="background-color: rgb(var(--v-theme-primary));" class="float-right" @click="step = 3">{{ pageTranslations.authority_back }}</v-btn>
            <v-spacer />
          </v-card-actions>
        </v-card>
      </template>

      <template v-slot:item.5>
        <v-card class="ma-2 flexcard" :height="mobile ? 400 : 400">
          <v-card-text class="grow">
            {{ pageTranslations.authority_surname }}
          </v-card-text>

          <v-row class="ma-2">
            <v-col cols="12" md="4">
              <v-card  @click="step = 6; authority = 'Regionale Fachberatungsstelle Mitte/Nord eva'" class="fill-height" color="success">
                <v-row align="center" justify="center" class="fill-height">
                  <v-col cols="6" class="white--text text-center text-h5">
                    A - G
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
            <v-col cols="12" md="4">
              <v-card  @click="step = 6; authority = 'Regionale Beratungsstelle Mitte/Süd'" class="fill-height" color="success">
                <v-row align="center" justify="center" class="fill-height">
                  <v-col cols="6" class="white--text text-center text-h5">
                    H - Q
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
            <v-col cols="12" md="4">
              <v-card  @click="step = 6; authority = 'Regionale Fachberatungsstelle Ost'" class="fill-height" color="success">
                <v-row align="center" justify="center" class="fill-height">
                  <v-col cols="6" class="white--text text-center text-h5">
                    R - Z
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>

          <v-card-actions>
            <v-btn color="white" style="background-color: rgb(var(--v-theme-primary));" class="float-right" @click="step = 4">{{ pageTranslations.authority_back }}</v-btn>
            <v-spacer />
          </v-card-actions>
        </v-card>
      </template>

      <template v-slot:item.6>
        <v-card class="ma-2 flexcard" :height="mobile ? 600 : 400">
          <v-card-title class="text-body-1 text-md-h5">
            {{ pageTranslations.authority_result }}
          </v-card-title>

          <v-card-text v-if="authority" class="grow">
            {{authorityEntries[authority].name}}
            <v-row>
              <v-col cols="12" md="6">
                <p>
                  {{authorityEntries[authority].address_1}}<br />
                  {{authorityEntries[authority].address_2}}<br />
                  {{authorityEntries[authority].phone}}<br />
                  {{authorityEntries[authority].mail}}<br />
                  <br />
                  <b>{{ pageTranslations.authority_opening_hours }}</b><br />
                  {{authorityEntries[authority].opening_hours_1}}<br />
                  {{authorityEntries[authority].opening_hours_2}}<br />
                  {{authorityEntries[authority].opening_hours_3}}<br />
                  <br />
                  <v-btn class="mb-2, float-left" color="white" style="background-color: rgb(var(--v-theme-primary));" :to="'/projekt/' + authorityEntries[authority].project_slug" size="small" target="_blank">{{ pageTranslations.authority_more }}</v-btn>
                </p>
              </v-col>
              <v-col cols="12" md="6">
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" :src="authorityEntries[authority].osm_link" style="border: 1px solid black"></iframe>
              </v-col>
            </v-row>

          </v-card-text>

          <v-card-actions>
            <v-btn color="white" style="background-color: rgb(var(--v-theme-primary));" class="float-right" @click="step = 4">{{ pageTranslations.authority_back }}</v-btn>
            <v-spacer />
            <v-btn color="white" style="background-color: rgb(var(--v-theme-primary));" class="float-right" @click="step = 1">{{ pageTranslations.authority_back_to_start }}</v-btn>
          </v-card-actions>
        </v-card>
      </template>

    </v-stepper>

    <v-overlay :value="showProjectDetail" :style="'height: calc(100vh - ' + (mobile ? '66' : '118') + 'px);'" :dark="false" color="white" opacity="100">
      <div :style="'height: calc(100vh - ' + (mobile ? '66' : '196') + 'px); overflow:auto;'">
        <ProjectDetail v-if="showProjectDetail" @closed="showProjectDetail = false" :projectId="project_id" />
      </div>
    </v-overlay>
  </v-container>


</template>


<script setup>

  import { ref, inject, computed } from 'vue'
  
  import ProjectDetail from '../components/ProjectDetail.vue'

  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  import { useDisplay } from 'vuetify'
  const { mobile } = useDisplay()

  var step = ref(0)
  var authority = ref(null)
  
  var showProjectDetail = ref( false)
  var authorityEntries = {
      'Sozialberatung': { "name": "Sozialberatung",
                          "address_1":"Römerstr. 78",
                          "address_2":"70180 Stuttgart",
                          "phone":"Tel.: 0711 16 92 0 0",
                          "mail":"info@sozialberatung-stuttgart.de",
                          "opening_hours_1":"Mo/Mi/Do/Fr 9.00 – 11.30 Uhr",
                          "opening_hours_2":"Do 13.00 – 15.00 Uhr",
                          "opening_hours_3":"und nach Vereinbarung",
                          "osm_link":"https://www.openstreetmap.org/export/embed.html?bbox=9.174064099788668%2C48.76026095915489%2C9.177062809467317%2C48.762513521697485&layer=mapnik&marker=48.76138680001856%2C9.17556245000003",
                          "project_slug":"fachberatungsstelle-fuer-straffaellige"
                          },
      'Zentrale Frauenberatung': { "name": "Zentrale Frauenberatung",
                          "address_1":"Hauptstätter Straße 87",
                          "address_2":"70178 Stuttgart",
                          "phone":"Tel.: 0711 60 18 788 0",
                          "mail":"info@zentralefrauenberatungstuttgart.de",
                          "opening_hours_1":"Mo/Mi/Do/Fr 9.00 – 12.00 Uhr",
                          "opening_hours_2":"und nach Vereinbarung",
                          "opening_hours_3":"",
                          "osm_link":"https://www.openstreetmap.org/export/embed.html?bbox=9.17262375354767%2C48.76789698443421%2C9.17562246322632%2C48.770149204506126&layer=mapnik&marker=48.76902285013043%2C9.174123649999956",
                          "project_slug":"zentrale-frauen-und-paarberatung"
                          },
      'ZBS Junge Erwachsene': { "name": "Zentrale Beratungsstelle für junge Erwachsene",
                          "address_1":"Büchsenstraße 34",
                          "address_2":"70435 Stuttgart",
                          "phone":"Tel: 0711 20 54 258",
                          "mail":"Sonja.Hagenmayer@eva-stuttgart.de",
                          "opening_hours_1":"Mo/Mi/Do/Fr 8.30 – 11.30 Uhr",
                          "opening_hours_2":"Do 13.00 – 15.00",
                          "opening_hours_3":"und nach Vereinbarung",
                          "osm_link":"https://www.openstreetmap.org/export/embed.html?bbox=9.170488715171816%2C48.77728351420395%2C9.173487424850466%2C48.7795353132414&layer=mapnik&marker=48.77840942634948%2C9.171988070011139",
                          "project_slug":"zentrale-beratungsstelle-fuer-junge-erwachsene"
                          },
      'Regionale Fachberatungsstelle Ost': { "name": "Regionale Beratungsstelle Ost",
                          "address_1":"Kreuznacher-Str. 41/a",
                          "address_2":"70372 Stuttgart",
                          "phone":"Tel.: 0711 520 45 45 0",
                          "mail":"info@ambulantehilfestuttgart.de",
                          "opening_hours_1":"Mo/Mi/Do/Fr 8.30 – 12.00 Uhr",
                          "opening_hours_2":"und nach Vereinbarung",
                          "opening_hours_3":"",
                          "osm_link":"https://www.openstreetmap.org/export/embed.html?bbox=9.220785498619081%2C48.8026961119775%2C9.223784208297731%2C48.80494677082517&layer=mapnik&marker=48.80382145402663%2C9.222284853458405",
                          "project_slug":"regionale-fachberatungsstelle-ost"
                          },
      'Regionale Beratungsstelle Bhf. Möhringen': { "name": "Regionale Beratungsstelle Bhf. Möhringen",
                          "address_1":"Filderbahnplatz 23",
                          "address_2":"70567 Stuttgart-Möhringen",
                          "phone":"Tel. 0711 71 86 32 31",
                          "mail":"bhf.moehringen@caritas-stuttgart.de",
                          "opening_hours_1":"Mo/Mi/Do/Fr 09.00 – 12.00 Uhr",
                          "opening_hours_2":"Do 14.00 – 16.00 Uhr",
                          "opening_hours_3":"und nach Vereinbarung",
                          "osm_link":"https://www.openstreetmap.org/export/embed.html?bbox=9.144997000694277%2C48.72920809466447%2C9.147995710372927%2C48.731462049495235&layer=mapnik&marker=48.73033508470944%2C9.1464963555336",
                          "project_slug":"bahnhof-moehringen"
                          },
      'Regionale Beratungsstelle Mitte/Süd': { "name": "Regionale Beratungsstelle Mitte/Süd",
                          "address_1":"Olga Str. 46",
                          "address_2":"70182 Stuttgart",
                          "phone":"Tel.: 0711 23 87 9 – 0",
                          "mail":"rbs-olga46@caritas-stuttgart.de",
                          "opening_hours_1":"Mo/Mi/Do/Fr 8.30 – 11.30 Uhr",
                          "opening_hours_2":"Do 14.00 – 16.00 Uhr",
                          "opening_hours_3":"und nach Vereinbarung",
                          "osm_link":"https://www.openstreetmap.org/export/embed.html?bbox=9.183159470558168%2C48.7727301174199%2C9.186158180236818%2C48.77498212070834&layer=mapnik&marker=48.77385565006952%2C9.18465880000008",
                          "project_slug":"olga-46-tagesstaette-und-regionale-fachberatung"
                          },
      'Fachberatung Nord': { "name": "Fachberatung Nord",
                          "address_1":"Friesenstraße 33",
                          "address_2":"70435 Stuttgart-Zuffenhausen",
                          "phone":"Tel. 0711 99 37 57 – 10",
                          "mail":"Gabi.Brenneisen@eva-stuttgart.de",
                          "opening_hours_1":"Mo/Mi/Do/Fr 8.30 – 11.30 Uhr",
                          "opening_hours_2":"Do. 13.00 – 15.00",
                          "opening_hours_3":"und nach Vereinbarung",
                          "osm_link":"https://www.openstreetmap.org/export/embed.html?bbox=9.169783294200899%2C48.82786099420781%2C9.172782003879549%2C48.83011052354362&layer=mapnik&marker=48.828985500079575%2C9.171281600000043",
                          "project_slug":"regionale-fachberatungsstelle-nord"
                          },
      'Regionale Fachberatungsstelle Mitte/Nord eva': { "name": "Regionale Fachberatungsstelle Mitte/Nord eva",
                          "address_1":"Büchsenstr. 34",
                          "address_2":"70435 Stuttgart",
                          "phone":"Tel.: 0711/2054 305",
                          "mail":"Christoph.Maier@eva-stuttgart.de",
                          "opening_hours_1":"Mo/Mi/Do/Fr. 8.30 – 11.30 Uhr",
                          "opening_hours_2":"Do. 13.00 – 15.00 Uhr",
                          "opening_hours_3":"und nach Vereinbarung",
                          "osm_link":"https://www.openstreetmap.org/export/embed.html?bbox=9.170488715171816%2C48.77728351420395%2C9.173487424850466%2C48.7795353132414&layer=mapnik&marker=48.77840870019136%2C9.171988300000066",
                          "project_slug":"regionale-fachberatungsstelle-mitte-nord-eva"
                          }
                        }

  //var favoritesStore = useFavoritesStore()
  //var favorites = ref(favoritesStore.getAll())

  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
    {
      title: 'Zuständigkeit - ' + tenant.seo_title,
      meta: [{ name: 'description', content: 'Wir zeigen dir welche Stelle für dich zuständig ist.' }],
      link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
    }
  )

  const openDetails = function(project_id) {
    this.project_id = project_id
    this.showProjectDetail = true
  }

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>

<style lang="scss">
  .flexcard {
    display: flex;
    flex-direction: column;
  }
</style>