<template>
    <v-container class="pa-1 tertiary-background">
      <h1 class="text-center">{{ pageTranslations.conditions_of_participation_headline }}</h1>
      <div class="pa-2">
        <span v-if="translatedConditionsOfParticipation" class="wysiwyg-text" v-html="translatedConditionsOfParticipation['content']" />
      </div>
  
    </v-container>
</template>
  
<script setup>

  import { ref, inject, onMounted, computed } from 'vue'

  import { readItems } from '@directus/sdk'

  const directus = inject('directus')
  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  var conditions_of_participation = ref(null)

  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
      {
        title: 'Teilnahmebedingungen - ' + tenant.seo_title,
        meta: [{ name: 'description', content: 'Bringe dein Projekt auf unsere Seite, hier erfährst du wie!' }],
        link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
      }
    )

  onMounted(async () => {

      const result = await directus.request(readItems('conditions_of_participation', {fields: ['*.*'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID} }))
      conditions_of_participation.value = result[0]

  })

  const translatedConditionsOfParticipation = computed(() => {
    if (!conditions_of_participation.value) return []

    let userLanguage = commonStore.getLanguage()

    let temp = conditions_of_participation.value.translations.find(element => element.languages_code == userLanguage) 

    return temp ? temp : []
  })

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>