<template>
    <v-container class="pa-1 tertiary-background">
      <h1 class="text-center">{{ pageTranslations.contact_headline }}</h1>
      <div class="pa-2">
        <span v-if="translatedContact" class="wysiwyg-text" v-html="translatedContact['content']" />
      </div>
  
    </v-container>
</template>
  
<script setup>

  import { ref, inject, onMounted, computed } from 'vue'

  import { readItems } from '@directus/sdk'

  const directus = inject('directus')
  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  var contact = ref(null)
  
  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
      {
        title: 'Kontakt - ' + tenant.seo_title,
        meta: [{ name: 'description', content: 'Komme mit uns in Kontakt' }],
        link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
      }
    )

  onMounted(async () => {

      const result = await directus.request(readItems('contact', {fields: ['*.*'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID} }))
      contact.value = result[0]

  })

  const translatedContact = computed(() => {
    if (!contact.value) return []

    let userLanguage = commonStore.getLanguage()

    let temp = contact.value.translations.find(element => element.languages_code == userLanguage) 
    return temp ? temp : []
  })

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>