<template>
  <v-container fluid class="pa-4" style="height:100%;">
    <h1 class="text-center">{{ pageTranslations.documents_headline }}</h1>

    <p class="my-4">
      {{ pageTranslations.documents_introduction }}
    </p>

    <template v-for="(group, index) in groupedDocuments" :key="index">
      <h2>{{index}}</h2>

      <v-row>
        <v-col cols="12" md="4" v-for="(item, subindex) in group" :key="subindex" class="my-4">
          <v-card class="my-1 fill-height" color="#e1ece5">
            <v-card-text class="white--text">
              <v-row >
                <v-col cols="9" class="text-body-2">
                  <b>{{item.title}}</b>
                  <br />
                  <div class="text-caption">
                  {{ pageTranslations.documents_updated_on }} {{convertDate(item.date_updated ? item.date_updated : item.date_created)}}
                  </div>
                </v-col>
                <v-col cols="3" v-if="item.file" style="text-align:right">
                  <v-btn icon :x-small="smAndDown" color="white" :href="$DIRECTUS_ASSETS_URL + item.file.id + '?download'" download target="_blank">
                    <v-icon>mdi-download</v-icon>
                  </v-btn>
                </v-col>
                <v-col cols="3" v-else :x-small="smAndDown" style="text-align:right">
                  <v-btn icon color="white" :href="item.link" target="_blank">
                  <v-icon>mdi-open-in-new</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>      
    </template>

  </v-container>
</template>

<script setup>

  import { ref, inject, onMounted, computed } from 'vue'
  
  import { readItems } from '@directus/sdk'
  const directus = inject('directus')

  import { useDisplay } from 'vuetify'
  const { smAndDown } = useDisplay()

  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  var documents = ref([])

  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
    {
      title: 'Dokumente - ' + tenant.seo_title,
      meta: [{ name: 'description', content: 'Wichtige Dokumente und Links' }],
      link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
    }
  )

  onMounted(async () => {

    let result = await directus.request(readItems('documents', {fields: ['*.*'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID} }))
    documents.value = result
  })

  const groupedDocuments = computed(() => {
      if (documents.value.length == 0) return []

      let temp = {}
      
      let userLanguage = commonStore.getLanguage()

      documents.value.forEach(element => {
                              let translations = element.translations.find(element => element.languages_code == userLanguage) 

                              if (!temp[translations.group]) temp[translations.group] = []
                              temp[translations.group].push({... element, ... translations})
                            })
      return temp
    })

  function convertDate (date) {
    return new Date(Date.parse(date)).toLocaleDateString()
  }

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>