<template>
  <v-container fluid class="pa-4" style="height:100%;">
    <h1 class="text-center">{{ pageTranslations.faq_headline }}</h1>
    
    <p class="my-4">
      {{ pageTranslations.faq_introduction }}
    </p>
    
    <v-row justify="center">
      <v-expansion-panels accordion flat>
        <v-expansion-panel v-for="(entry, index) in translatedFAQ" :key="index" style="background-color: transparent">
          <v-expansion-panel-title color="#e1ece5" style="border: solid 2px white">{{entry.question}}</v-expansion-panel-title>
          <v-expansion-panel-text class="wysiwyg-text" style="padding: 0 24px 16px;" >
            <span v-html="entry.answer" />
          </v-expansion-panel-text>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>

  </v-container>
</template>
  
<script setup>

  import { ref, inject, onMounted, computed } from 'vue'
  import { readItems } from '@directus/sdk'
  
  const tenant = inject('tenant')
  const directus = inject('directus')
  const commonStore = inject('commonStore')

  var faq = ref([])

  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
    {
      title: 'FAQ - ' + tenant.seo_title,
      meta: [{ name: 'description', content: 'Die wichtigsten Fragen & Antworten' }],
      link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
    }
  )

  onMounted(async () => {

    const result = await directus.request(readItems('faq', {fields: ['*.*'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID} }))
    faq.value = result

  })

  const translatedFAQ = computed(() => {
    if (!faq) return []

    let userLanguage = commonStore.getLanguage()

    let translations = []

    faq.value.forEach(item => {
      let temp = item.translations.find(element => element.languages_code == userLanguage) 
      if (temp) translations.push({'question':temp.question, 'answer':temp.answer})
    })

    return translations
  })

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>