<template>
  <v-container fluid class="pa-4" style="height:100%;">
    <h1 class="text-center">{{ pageTranslations.favorites_headline }}</h1>

    <p class="my-4">
      {{ pageTranslations.favorites_introduction }}
    </p>

    <v-row>
      <template v-for="(project, index) in favorites" :key="index">
        <v-col cols="12" md="6" v-if="project">
          <ProjectElement :project="project" class="fill-height"/>
        </v-col>
      </template>
    </v-row>

  </v-container>
</template>

<script setup>

  import { ref, inject, computed } from 'vue'
  import { useFavoritesStore } from '@/stores/favorites'
  import ProjectElement from '../components/ProjectElement.vue'

  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  var favoritesStore = useFavoritesStore()
  var favorites = ref(favoritesStore.getAll())

  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
    {
      title: 'Favoriten - ' + tenant.seo_title,
      meta: [{ name: 'description', content: 'Zeigt dir deine gemerkten Projekte' }],
      link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
    }
  )

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>