<template>
  <v-container v-if="home" class="pa-0" style="height:100%">

    <div class="ma-4" v-html="translatedHome.introduction" />
    
    <v-row class="mx-4">
      <v-col cols="12">
        <router-link to="/karte">
            <v-img :src="$DIRECTUS_ASSETS_URL + home.hero.id + '?height=320&format=png&quality=80'" height="320" cover alt="hero banner"/>
        </router-link>
      </v-col>
      <v-col cols="12" md="6" class="mt-4" v-for="(tag, index) in home.quick_search_tags":key="index">
        <TagElement :tag="tag"/>
      </v-col>
      <v-col cols="12" class="mt-4">
        <router-link to="/karte">
          <div class="rounded-lg text-center ma-2 pa-4" style="border:solid 1px rgb(var(--v-theme-primary)); background-color: #E1ECE5;">
            <div style="position:relative; top:-46px; left: calc(50% - 30px); border: 1px solid rgb(var(--v-theme-primary)); background-color: #FFFFFF; height: 80px; border-radius:50%; width: 80px;">
                <v-icon icon="mdi-dots-horizontal" style="margin-top: 30%" size="x-large"></v-icon>
            </div>
            <div class="text-h5 text-md-h4" variant="text">{{ pageTranslations.home_more_categories }}</div>
          </div>
        </router-link>
      </v-col>
      <v-col cols="12">
        <div class="rounded-lg" style="border:solid 2px red; margin: 4px; padding:4px">
          <h2 class="text-center">{{ pageTranslations.home_emergency_numbers }}</h2>
          <v-row class="pa-2" style="max-width:600px; margin:auto;" no-gutters>
            <template v-for="(element, index) in translatedHome.emergency_phone_numbers":key="index">
              <v-col cols="6" class="mb-2">{{ element.name }}</v-col>
              <v-col cols="6" class="mb-2">{{ element.phone_number }}</v-col>
            </template>
          </v-row>
        </div>
      </v-col>
      <v-col cols="12">
        <h2 class="text-center my-4">{{ pageTranslations.home_faq_headline }}</h2>
        <h3 class="text-center my-6">{{ pageTranslations.home_faq_subheadline }}</h3>

        <div class="text-center my-6">
          <v-btn to="/faq"variant="text">{{ pageTranslations.home_faq_more_button }}</v-btn>
        </div>
        
      </v-col>
      <v-col cols="12">
        <div class="rounded-lg pa-3" style="background-color: #E1ECE5">
          <div class="ma-4" v-html="translatedHome.consulting" />
        </div>
      </v-col>
      <v-col cols="12" v-if="shuffledContributors">
        
        <h2 class="text-center my-4">{{ pageTranslations.home_contributors_headline }}</h2>
        
        <div class="my-4" v-html="pageTranslations.home_contributors_text"></div>

        <v-carousel class="mx-auto" cycle :show-arrows="false" hide-delimiter-background style="max-height: 300px" height="300">
          <v-carousel-item v-for="(itemcluster, clusterindex) in shuffledContributors" :key="clusterindex">
            <v-row justify="space-around"  style="height: 100%">
              <v-col cols="6" sm="4" v-for="(item, index) in itemcluster" :key="index">
                <v-img :src="$DIRECTUS_ASSETS_URL + item.directus_files_id + '?height=200&format=png&quality=80'" contain style="max-width: 200px; margin: auto; height: 100%"/>
              </v-col>
            </v-row>
          </v-carousel-item>
        </v-carousel>
        
      </v-col>
      <v-col cols="12" v-if="shuffledSponsors">
        
        <h2 class="text-center my-4">{{ pageTranslations.home_sponsors_headline }}</h2>

        <div class="my-4" v-html="pageTranslations.home_sponsors_text"></div>
        
        <v-carousel class="mx-auto" cycle :show-arrows="false" hide-delimiter-background style="max-height: 300px" height="300">
          <v-carousel-item class="pb-8" v-for="(item, index) in shuffledSponsors" :key="index" :src="$DIRECTUS_ASSETS_URL + item.directus_files_id + '?height=300&format=png&quality=80'" />
        </v-carousel>
        
      </v-col>
    </v-row>

  </v-container>
</template>

<script setup>
  import TagElement from '../components/TagElement.vue'

  import { ref, inject, onMounted, computed} from 'vue'

  import { readItems } from '@directus/sdk'

  const directus = inject('directus')
  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  var home = ref(null)
  var shuffledSponsors = ref(null)
  var shuffledContributors = ref([])

  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
    {
      title: tenant.seo_title,
      meta: [{ name: 'description', content: tenant.seo_description }],
      link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
    }
  )

  onMounted(async () => {

      const result = await directus.request(readItems('home_v2', {fields: ['*.*,translations.*.*, quick_search_tags.tags_id.*, quick_search_tags.tags_id.translations.*'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID} }))
      home.value = result[0]

      // shuffle so nobody gets favoured
      if (home.value.sponsors.length > 0 ) {
        shuffledSponsors.value = home.value.sponsors.sort((a, b) => 0.5 - Math.random())
      }

      if (home.value.contributors.length > 0 ) {
        let temp = home.value.contributors.sort((a, b) => 0.5 - Math.random())

        let number_of_panels  = Math.ceil(temp.length / 3)

        temp.forEach((item, index )=> {
          if (!shuffledContributors.value[index % number_of_panels]) shuffledContributors.value[index % number_of_panels] = []
          shuffledContributors.value[index % number_of_panels].push(item)
        })
      }
      
  })

  const translatedHome = computed(() => {
      if (!home.value) return []

      let userLanguage = commonStore.getLanguage()

      let temp = home.value.translations.find(element => element.languages_code.code == userLanguage) 
      return temp ? temp : []
    })

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>

<style lang="scss">

.v-carousel__controls__item .v-icon {
  
  color: gray;
}

</style>