<template>
  <v-container fluid class="my-0 pa-2" style="height:100%">

    <v-row no-gutters class="ma-0 pa-0">
      <v-col cols="12" v-if="!mdAndUp">
        <v-btn @click="toggleFilter()" size="large" class="ma-2 ml-0" color="primary" :style="'float:left; color:'+ filterBtnColor">
          <v-icon>mdi-filter-outline</v-icon>
          {{ pageTranslations.map_filter }}
        </v-btn>
        <v-switch  v-model="listToggle" hide-details style="float:right">
          <template #prepend>
            <v-icon size="large">mdi-map</v-icon>
          </template>
          <template #append>
            <v-icon  size="large">mdi-view-list</v-icon>
          </template>
        </v-switch>
      </v-col>
      <v-col v-show="!listToggle" cols="12" md="8" style="position: relative;">
        <v-btn v-if="mdAndUp" @click="toggleFilter()" size="x-large" class="ma-2" color="primary" :style="'z-index:5; position:absolute; color:' + filterBtnColor">
          <v-icon>mdi-filter-outline</v-icon>{{ pageTranslations.map_filter }}
        </v-btn>

        <div ref="mapRoot" :style="mobile ? 'height: calc(100vh - 280px)' : 'height: calc(100vh - 270px)'" />    

        <v-overlay v-model="showFilter" contained width="100%">
          <v-card class="ma-2 tertiary-background" style="height: calc(100vh - 286px)" >
            <v-card-title class="justify-center">
              {{ pageTranslations.map_filter }}
              <v-btn @click="showFilter = false" style="background-color: rgb(var(--v-theme-primary)); float:right;">
                <v-icon color="white">mdi-close</v-icon>
              </v-btn>
            </v-card-title>
              
            <div style="height: calc(100vh - 386px); overflow: auto;">
              <v-card-text>
                <v-text-field v-model="searchTerm" density="compact" style="height:48px"></v-text-field>
              </v-card-text>
              <v-card-text>
                <h4 class="mb-2"><v-icon small style="display:contents">mdi-tag-outline</v-icon>&nbsp;{{ pageTranslations.map_offers }}</h4>
                <v-chip-group v-model="selectedTags" column multiple>
                  <TagIcon :tag_id="tag.id" v-for="(tag, index) in searchTags" :key="index" outlined active-class="active-chips"/>
                </v-chip-group>
              </v-card-text>
              
              <v-card-text>
                <h4 class="mb-2"><v-icon small style="display:contents">mdi-map</v-icon>&nbsp;{{ pageTranslations.map_districts }}</h4>
                <v-chip-group v-model="selectedDistricts" column multiple>
                  <v-chip label size="small" v-for="(district, index) in districts" :key="index" class="ma-1" outlined active-class="active-chips" :value="district.id">{{district.name}}</v-chip>
                </v-chip-group>
              </v-card-text>
              
              <v-card-text>
                <h4 class="mb-2"><v-icon small style="display:contents">mdi-calendar</v-icon>&nbsp;{{ pageTranslations.map_weekdays }}</h4>
                <v-chip-group v-model="selectedWeekdays" column multiple>
                  <v-chip label size="small" v-for="(tag,index) in weekdays" :key="index" class="ma-1" outlined active-class="active-chips" :value="tag">{{ pageTranslations['common_'+tag] }}</v-chip>
                </v-chip-group>
              </v-card-text>
            </div>
            
            <v-card-actions>
              <v-btn @click="resetFilter()" :size="mobile ? 'small' : 'medium'" :class="mobile ? 'px-3' : 'px-3 py-2'" color="white" style="background-color: rgb(var(--v-theme-primary));" >{{ pageTranslations.map_reset_filter }}</v-btn>
              <v-spacer />
              <v-btn @click="filter()" :loading="isLoading" :size="mobile ? 'small' : 'medium'" :class="mobile ? 'px-3' : 'px-3 py-2'" color="white" style="background-color: rgb(var(--v-theme-primary));">{{ pageTranslations.map_use_filter }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-overlay>
      </v-col>
      <v-col v-show="mdAndUp || listToggle" md="4">
        <v-sheet v-if="showProjectList" class="ml-1 scrollbar" style="overflow-y:scroll; overflow-x:hidden; height: calc(100vh - 270px)">
          <ProjectElement :project="project" class="mt-1" v-for="(project, index) in projects" :key="index"/>
        </v-sheet>
      </v-col>
    </v-row>

    <v-bottom-sheet v-model="showProjectPopup" style="max-width:600px">
        <ProjectElement :project="showProjectElement" class="ma-1"/>
    </v-bottom-sheet>

  </v-container>
</template>

<script setup>

  import TagIcon from '../components/TagIcon.vue'
  import Point from 'ol/geom/Point'
  import {fromLonLat} from 'ol/proj'
  import 'ol/ol.css'
  import { ref, inject, onMounted, computed } from 'vue'
  import ProjectElement from '../components/ProjectElement.vue'
  import { readItems } from '@directus/sdk'
  import { useRoute } from 'vue-router'

  const route = useRoute()

  import { useDisplay } from 'vuetify'

  const { mobile, mdAndUp } = useDisplay()

  import Map from '../libraries/Map'

  const mapRoot = ref(null)
  const tenant = inject('tenant')
  const directus = inject('directus')
  const search = inject('search')
  const tags = inject('tags')
  const commonStore = inject('commonStore')

  const customMap = new Map(directus)
  
  const listToggle = ref(false)

  var projects = ref(null)
  var showFilter = ref(false)
  var showProjectList = ref(true)
  var showProjectPopup = ref(false)
  var showProjectElement = ref(null)

  const weekdays = ref(['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'])
  var searchTerm = ref("")
  var selectedTags = ref([])
  var selectedDistricts = ref([])
  var selectedWeekdays = ref([])
  var isLoading = ref(false)
  var filterBtnColor = ref('white')
  var searchTags = ref([])
  var districts = ref(null)
  var staticPOIs = ref([])

  import { useHead } from 'unhead'
  
  useHead(
    {
      title: 'Karte - ' + tenant.seo_title,
      meta: [{ name: 'description', content: 'Eine Karte mit allen Projekten' }],
      link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
    }
  )

  onMounted(async () => {

    let config = {}
    config.default_zoom = tenant.map_default_zoom
    config.min_zoom = tenant.map_min_zoom
    config.max_zoom = tenant.map_max_zoom
    config.map_center_location = tenant.map_center_location.coordinates
    config.center_extend = tenant.map_extend

    if(navigator.geolocation) {
    
      navigator.geolocation.getCurrentPosition(
            position => {
              commonStore.setUserLocation({"lat": position.coords.latitude, "lon": position.coords.longitude})
            },
            error => {
              console.error(error.message)
            }
          )
    }

    customMap.initMap(mapRoot.value, config)

    mapRoot.value.addEventListener("foundFeature", (event) => {
      
      search.getProjectById(event.detail.project_id).then(project => {
        showProjectElement.value = project 
        showProjectPopup.value = true
      })
    })

    mapRoot.value.addEventListener("foundNoFeature", (event) => {
      showProjectPopup.value = false
    })

    tags.getAllSearchableTags().then(values => {
         searchTags.value = values
    })
    
    await directus.request(readItems('districts', {fields: ['id, name'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID}})).then(data => {districts.value = data})
    await directus.request(readItems('pois', {fields: ['*.*'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID}})).then(data => {staticPOIs.value = data})

    if (route.params.tag_id) selectedTags.value = [parseInt(route.params.tag_id)]

    filter()
  })

  function toggleFilter () {
    showFilter.value = true
    showProjectPopup.value = false
  }

  async function filter(projectIds = null) {

    isLoading.value = true
    let showStaticPois = true
    filterBtnColor.value = 'white'

    customMap.removeLayer('resultLayer')

    let filterValues = {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID }

    // full text search
    if (searchTerm.value.length > 0) {
      search.setSearchTerm(searchTerm.value)
      search.setParameter(filterValues)
      filterBtnColor.value = 'red'
      showStaticPois = false
    }
    else {

      if (projectIds) filterValues['id'] = {_in:projectIds}
      else 
      {
        filterValues['_or'] = []
        
        if (selectedTags.value.length > 0) {
          filterValues['_or'].push({'tags': {'tags_id':{_in:selectedTags.value}}})
          filterValues['_or'].push({'main_tag' :{_in:selectedTags.value}})
          filterBtnColor.value = 'red'
          showStaticPois = false
        }

        if (selectedDistricts.value.length > 0) {
          filterValues['_or'].push({'districts':{'districts_id':{'_in':selectedDistricts.value}}})
          filterBtnColor.value = 'red'
          showStaticPois = false
        }

        if (selectedWeekdays.value.length > 0) {
          selectedWeekdays.value.forEach(element => {
            filterValues['_or'].push({'opening_days': {_contains:element}})
          })
          filterBtnColor.value = 'red'
          showStaticPois = false
        }
      }

      search.setParameter(filterValues)
      search.setSearchTerm()
    }
    await search.performSearch()

    projects.value = await search.getResults()

    for (const element of search.getResultPOIs()) {
      let tag_temp = await tags.getTagById(element.main_tag.id)
      customMap.addFeature('resultLayer', {
            geometry: new Point(element.location),
            project_id: element.project_id,
            icon: tag_temp.icon,
            codepoint: tag_temp.codepoint
          })
    }

    if(showStaticPois && staticPOIs.value.length > 0) {
      for (const element of staticPOIs.value) {
        if(!element.location) return
        customMap.addFeature('resultLayer', {
          geometry: new Point(fromLonLat([element.location.coordinates[0], element.location.coordinates[1]])),
          poi_id: element.id,
          icon: (element.type == 'wifi') ? 'mdi-wifi-check' : 'mdi-toilet',
          codepoint: (element.type == 'wifi') ? 988861 : 985515
        })
      }
    }

    await customMap.addLayer('resultLayer')

    isLoading.value = false
    showFilter.value = false
    showProjectPopup.value = false
  }

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 

    return translations ? translations : []
  })

  function resetFilter () {
    searchTerm.value = ''
    selectedTags.value = []
    selectedDistricts.value = []
    selectedWeekdays.value = []
  }
</script>

<style lang="scss">

  .ol-zoom {
    top: unset;
    bottom: 0.5em;
    right: 0.5em;
    left: unset;
  }

  .ol-attribution {
    right: unset;
    left: 0em;
    text-align: left;
    display:unset;
    width: fit-content;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar::-webkit-scrollbar {
    display: none
  }

  .scrollbar {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
</style>