<template>
    <v-container class="pa-1 tertiary-background">
      <h1 class="text-center">{{ pageTranslations.privacy_headline }}</h1>
      <div class="pa-2">
        <span v-if="privacy" class="wysiwyg-text" v-html="privacy['privacy_policy_content']" />
      </div>
  
    </v-container>
</template>
  
<script setup>

  import { ref, inject, onMounted, computed } from 'vue'

  import { readItems } from '@directus/sdk'

  const directus = inject('directus')
  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  var privacy = ref(null)

  import { useHead } from 'unhead'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  useHead(
    {
      title: 'Datenschutzerklärung - ' + tenant.seo_title,
      meta: [{ name: 'description', content: 'Unsere Datenschutzerklärung' }],
      link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
    }
  )

  onMounted(async () => {

    const result = await directus.request(readItems('privacy_policy', {fields: ['*.*'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID} }))
    privacy.value = result[0]

  })

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

</script>