<template>
  <div v-if="route.params.projectSlug">
    <ProjectDetail :project_slug=route.params.projectSlug />
  </div>
</template>

<script setup>
  import ProjectDetail from '../components/ProjectDetail.vue'
  import { onMounted} from 'vue'
  import { useRoute } from 'vue-router'

  const route = useRoute()

  onMounted(async () => {
    
    //console.log('route.params', route.params )
  })

</script>