<template>
  <v-container class="pa-1 tertiary-background">
    <h1 class="text-center">{{ pageTranslations.registration_headline }} </h1>

    <p class="px-2 py-6" style="white-space: pre;">
      {{ pageTranslations.registration_info }}
    </p>
    <v-form v-model="valid" ref="registration_form" fast-fail @submit.prevent>
      <v-row class="pa-1" no-gutters>
        <v-col cols="12">
          <v-text-field v-model="name" :rules="nameRules" label="Name des Projektes" variant="outlined" counter="100" required></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-select v-model="organisation" label="Organisation / Träger" :items="organisations" item-title="name" item-value="id" multiple variant="outlined" ></v-select>
        </v-col>
        <v-col cols="12">
          <v-text-field v-model="claim" :rules="claimRules"  label="Kurzbeschreibung" variant="outlined" counter="80"></v-text-field>
        </v-col>
        <v-col cols="6"  class="pr-1">
          <v-textarea v-model="description" :rules="descriptionRules" label="Beschreibung" variant="outlined"></v-textarea>
        </v-col>
        <v-col cols="6" class="pa-2">
          <div id="map" style="margin: auto; width: 100%; height: 400px;" />
        </v-col>
        <v-col cols="6" class="pr-1">
          <v-select v-model="main_tag" label="Hauptkategorie" :items="tags" item-title="name" item-value="id" variant="outlined" hint="Die Hauptkategorie wird als Markierung auf der Karte genutzt." ></v-select>
        </v-col>
        <v-col cols="6" class="pl-1">
          <v-select v-model="choosen_districts" label="Stadtteile" :items="districts" item-title="name" item-value="id"  multiple variant="outlined" ></v-select>
        </v-col>
        <v-col cols="6" class="pr-1">
          <v-text-field v-model="contact_name" label="Kontaktname" variant="outlined"></v-text-field>
        </v-col>
        <v-col cols="6" class="pl-1">
          <v-text-field v-model="email" :rules="emailRules" label="E-Mail" variant="outlined"></v-text-field>
        </v-col>
        <v-col cols="6" class="pr-1">
          <v-text-field v-model="website" :rules="websiteRules" label="Website" placeholder="https://example.com" variant="outlined" hint="im Format: https://www.example.com"></v-text-field>
        </v-col>
        <v-col cols="6" class="pl-1">
          <v-text-field v-model="phone_number" label="Telefonnummer" placeholder="+49 40 12343213" variant="outlined" hint="im Format +49 40 12343213"></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-select v-model="choosen_spoken_languages" label="gesprochene Sprachen" :items="spoken_languages" item-title="name" item-value="id" multiple variant="outlined" ></v-select>
        </v-col>
        <v-col cols="6">
          <v-checkbox v-model="conditions_of_participation" :rules="conditionsOfParticipationRules">
            <template v-slot:label>
              <div>Ich stimme den <router-link to="/teilnahmebedingungen" target="_blank">Teilnahmebedingungen</router-link> zu</div>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="6">
          <v-checkbox v-model="privacy_policy" :rules="privacyPolicyRules">
            <template v-slot:label>
              <div>Ich stimme der <router-link to="/datenschutz" target="_blank">Datenschutzerklärung</router-link> zu</div>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="12" class="py-4">
          <v-btn color="warning" style="float: left">zurücksetzen</v-btn>
          <v-btn color="success" type="submit" style="float: right" @click="sendRegistration()">abschicken</v-btn>
        </v-col>
      </v-row>
      <v-row v-if="alert">
        <v-col cols=12>
          <v-alert :color="alert_color" :icon="alert_icon" :title="alert_title" :text="alert_text" />
        </v-col>
      </v-row>
    </v-form>

  </v-container>
</template>

<script setup>
import 'ol/ol.css'
import View from 'ol/View'
import {Map} from 'ol'
import {Tile as TileLayer, Vector as VectorLayer} from 'ol/layer'
import { Fill, Icon, Style, Text} from 'ol/style'
import OSM from 'ol/source/OSM'
import Feature from 'ol/Feature'
import {Point} from 'ol/geom'
import {Vector as VectorSource} from 'ol/source'
import {fromLonLat, toLonLat, transformExtent} from 'ol/proj'

import { ref, inject, onMounted,toRaw, computed } from 'vue'

import { readItems, createItem  } from '@directus/sdk'

const directus = inject('directus')
const tenant = inject('tenant')
const commonStore = inject('commonStore')

const nameRules = [
      value => {
        if (value?.length > 3 && value?.length < 100) return true

        return 'Der Name muss zwischen 3 und 100 Zeichen lang sein!'
      },
    ]

const claimRules = [
      value => {
        if (value?.length > 5 && value?.length < 80 && /^[a-zA-Z.,!?äüöÄÜÖß\s]*$/.test(value)) return true

        return 'Die Kurzbeschreibung darf nur einfachen Text enthalten und zwischen 5 und 80 Zeichen lang sein!'
      },
    ]

const descriptionRules = [
      value => {
        if (value?.length > 10 && /^[a-zA-Z.,!?äüöÄÜÖß\s]*$/.test(value)) return true

        return 'Die Beschreibung muss mindestens 10 Zeichen lang sein und darf nur einfachen Text enthalten!'
      },
    ]

const emailRules = [
      value => {
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$/.test(value)) return true

        return 'Es muss eine gültige E-Mail Adresse sein!'
      },
    ]

const websiteRules = [
  value => {
    if (!value) return true

    try {
      const newUrl = new URL(value)
      return newUrl.protocol === 'https:' ? true : 'Die URL muss mit "https://" beginnen.' 
    } catch (err) {
      return 'Wenn Sie eine Website angeben wollen, muss diese gültig sein. Inklusive https://'
    }

    return 
  }
]

const privacyPolicyRules = [
  value => {
    if (value) return true

    return 'Sie müssen den Datenschutzbestimmungen zustimmen.'
  }
]

const conditionsOfParticipationRules = [
  value => {
    if (value) return true

    return 'Sie müssen den Teilnahmebedingungen zustimmen.'
  }
]

const tags = ref([])
const organisations = ref([])
const districts = ref([])
const valid = ref(false)

const alert = ref(false)
const alert_color = ref(null)
const alert_icon = ref('$success')
const alert_title = ref('Registrierung erfolgreich')
const alert_text = ref('Die Registrierung wurde abgeschlossen, du erhältst eine Bestätigung per e-Mail und wird melden uns in den nächsten Tagen bei dir.')

const name = ref(null)
const organisation = ref(null)
const claim = ref(null)
const description = ref(null)
const main_tag = ref(null)
const map_location = ref(null)
const choosen_districts = ref([])
const contact_name = ref(null)
const email = ref(null)
const website = ref(null)
const phone_number = ref(null)
const choosen_spoken_languages = ref([])
const conditions_of_participation = ref(null)
const privacy_policy = ref(null)

const spoken_languages = [  {id: "German", name: "Deutsch"},
                            {id: "English", name: "Englisch"},
                            {id: "Romanian", name: "Rumänisch"},
                            {id: "Turkish", name: "Türkisch"},
                            {id: "Italian", name: "Italienisch"},
                            {id: "Polish", name: "Polnisch"},
                            {id: "Russian", name: "Russisch"},
                            {id: "Bulgarian", name: "Bulgarisch"},
                            {id: "Arabian", name: "Arabisch"},
                            {id: "Spanish", name: "Spanisch"},
                            {id: "Lithuanian", name: "Litauisch"},
                            {id: "Kurdish", name: "Kurdisch"},
                            {id: "French", name: "Französisch"},
                            {id: "Serbian", name: "Serbisch"},
                            {id: "Croatian", name: "Kroatisch"},
                            {id: "others", name: "Andere"}]

import { useHead } from 'unhead'
import { useRoute } from 'vue-router'
const route = useRoute()

useHead(
  {
    title: 'Registrerung - ' + tenant.seo_title,
    meta: [{ name: 'description', content: 'Registriere hier dein Projekt' }],
    link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
  }
)

onMounted(async () => {
  
  tags.value = await directus.request(readItems('tags', {fields: ['id, name, icon, main_tag'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID, 'main_tag': {"_eq": true} }}))
  organisations.value = await directus.request(readItems('organisations', {fields: ['id, name'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID }}))
  districts.value = await directus.request(readItems('districts', {fields: ['id, name'], filter: {'tenant_id': import.meta.env.VITE_PROJECT_TENANT_ID }}))

  initMap()
})

const sendRegistration = async () => { 

  if (!map_location.value) {
    
    alert_color.value = 'error'
    alert_icon.value = '$error'
    alert_title.value = 'Bitte prüfe deine Markierung auf der Karte'
    alert_text.value = 'Hast du eine Markierung auf der Karte gesetzt?'
    alert.value = true
    return null
  } 

  if (!valid.value) {
    alert_color.value = 'error'
    alert_icon.value = '$error'
    alert_title.value = 'Bitte überprüfe das Formular.'
    alert_text.value = 'Angaben fehlen oder sind nicht richtig.'
    alert.value = true
    
    return null
  }

  let relative_districts = []

  toRaw(choosen_districts.value).forEach(element => {
    relative_districts.push({districts_id: element})
  })

  //  check data & collect
  let new_project = {
    "name": name.value,
    "organisation": toRaw(organisation.value)[0],
    "main_tag": main_tag.value,
    "districts": relative_districts,
    "location": {type:'Feature', geometry: {'type': 'Point', 'coordinates':toLonLat(toRaw(map_location.value))}},
    "contact_name": contact_name.value,
    "email": email.value,
    "website": website.value,
    "phone_number": phone_number.value,
    "spoken_languages": toRaw(choosen_spoken_languages.value).join(','),
    "tenant_id": import.meta.env.VITE_PROJECT_TENANT_ID,
    "conditions_of_participation": "yes",
    "privacy_policy": "yes",
    "translations": [{"languages_code": "de-DE", "claim": claim.value, "description": description.value}]
  }
  
  // send to directus
  try {
    const result = await directus.request(createItem("projects", new_project))

    alert_color.value = 'success'
    alert_icon.value = '$success'
    alert_title.value = 'Registrierung erfolgreich'
    alert_text.value = 'Die Registrierung wurde abgeschlossen, du erhältst eine Bestätigung per e-Mail und wird melden uns in den nächsten Tagen bei dir.'
    alert.value = true
    
    // clear form
    name.value = null
    organisation.value = null
    claim.value = null
    description.value = null
    main_tag.value = null
    map_location.value = null
    choosen_districts.value = []
    contact_name.value = null
    email.value = null
    website.value = null
    phone_number.value = null
    choosen_spoken_languages.value = []
    conditions_of_participation.value = null
    privacy_policy.value = null
    
  } catch (error) {
    console.log(error)

    alert_color.value = 'error'
    alert_icon.value = '$error'
    alert_title.value = 'Fehler beim Registrieren'
    alert_text.value = 'Da ist etwas schiefgegangen, das sollte so nicht passieren. Bitte melde dich telefonisch oder via Mail bei uns. Die Kontaktdaten findest du weiter unten auf dieser Seite.'
    alert.value = true
  }
}

const initMap = () => {

  let primarycolor = getComputedStyle(document.documentElement).getPropertyValue('--v-theme-primary').trim()

  var map = new Map({
          layers: [
              new TileLayer({
                  source: new OSM({
                          attributions: [
                          'Daten von <a href="https://www.openstreetmap.org/">OpenStreetMap</a> - Veröffentlicht unter <a href="https://opendatacommons.org/licenses/odbl/">ODbL</a>',
                          ],
                          url:'https://tile.openstreetmap.de/{z}/{x}/{y}.png',
                      })
                  }),
          ],
          target: 'map',
          view: new View({
              zoom: parseInt(tenant.map_default_zoom),
              minZoom: parseInt(tenant.map_min_zoom),
              maxZoom: parseInt(tenant.map_max_zoom),
              center: fromLonLat([tenant.map_center_location.coordinates[0], tenant.map_center_location.coordinates[1]]),
              constrainResolution: true,
              extent: transformExtent(JSON.parse(tenant.map_extend), 'EPSG:4326', 'EPSG:3857'),
              enableRotation: false,
          })
      })

      map.on("singleclick", function(evt) {
        var self = this
        
        map_location.value = evt.coordinate

        if(self.locationSelectorLayer !== undefined) {
            self.iconGeometry.setCoordinates(evt.coordinate)
              //or create another pin  
        } else {
            self.iconGeometry = new Point(evt.coordinate)
            var iconFeature = new Feature({ geometry: self.iconGeometry, name: 'Pin'})

            var iconStyle = [new Style({
                    image: new Icon(({
                      anchor: [0.5, 22],
                      anchorXUnits: 'fraction',
                      anchorYUnits: 'pixels',
                      src: 'icons/MapMarker.svg',
                      color: 'rgb(' + primarycolor + ')',
                      scale: 1.5
                    }))
                }),
                new Style({ // icon
                text: new Text({text: String.fromCodePoint(983459),
                  fill: new Fill({
                    color: 'white'
                  }),
                  offsetY: -16,
                  font: '14px Material Design Icons'}),
                zIndex: 6
            })]

            iconFeature.setStyle(iconStyle)

            var vectorSource = new VectorSource({ features: [iconFeature] })
            self.locationSelectorLayer = new VectorLayer({ source: vectorSource })
            map.addLayer(self.locationSelectorLayer)
          }
        })

}

const pageTranslations = computed(() => {

  if (!tenant.translations) return []

  let userLanguage = commonStore.getLanguage()

  let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
  
  return translations ? translations : []
})

</script>