<template>
    <v-footer class="ma-0" style="border-top: solid 2px rgb(var(--v-theme-primary));">
        <v-row no-gutters>
            <v-col cols="12" md="4" class="text-center text-md-left" style="white-space: pre">
                {{ pageTranslations.footer_basic_info }}<br />
                <span if="tenant.contact_phone_number"><a :href="'tel:' + tenant.contact_phone_number">{{ tenant.contact_phone_number }}</a><br /></span>
                <span if="tenant.contact_mail"><a :href="'mailto:' + tenant.contact_mail">{{ tenant.contact_mail }}</a></span>
            </v-col>
            <v-spacer />
            <v-col v-if="mdAndUp" cols="12" md="4" class="text-right">
                <v-btn to="/ueber_uns" size="x-small" variant="text">{{ pageTranslations.footer_about_us }}</v-btn><br />
                <v-btn to="/kontakt" size="x-small" variant="text">{{ pageTranslations.footer_contact }}</v-btn><br />
                <v-btn to="/teilnahmebedingungen" size="x-small" variant="text">{{ pageTranslations.footer_conditions_of_participation }}</v-btn><br />
            </v-col>
            <v-spacer />
            <v-col v-if="mdAndUp" cols="12" md="4" class="text-right">
                <v-btn to="/impressum" size="x-small" variant="text">{{ pageTranslations.footer_imprint }}</v-btn><br />
                <v-btn to="/datenschutz" size="x-small" variant="text">{{ pageTranslations.footer_privacy }}</v-btn><br />
                <v-btn to="/registrierung" size="x-small" variant="text">{{ pageTranslations.footer_registration }}</v-btn>
            </v-col>
            <v-col v-else cols="12" class="text-center">
                <v-btn to="/ueber_uns" size="x-small" variant="text">{{ pageTranslations.footer_about_us }}</v-btn> 
                | <v-btn to="/kontakt" size="x-small" variant="text">{{ pageTranslations.footer_contact }}</v-btn> 
                | <v-btn to="/impressum" size="x-small" variant="text">{{ pageTranslations.footer_imprint }}</v-btn> 
                | <v-btn to="/datenschutz" size="x-small" variant="text">{{ pageTranslations.footer_privacy }}</v-btn>
            </v-col>
        </v-row>

        <v-row v-if="false" style="z-index:10; position:absolute; width: 100%" >
            <v-col cols="2">
                <v-btn @click="getProjects">Projekte laden SW</v-btn>
            </v-col>
            <v-col cols="2">
                <v-btn @click="getCachesSize">getCachesSize</v-btn>
            </v-col>
            <v-col cols="2">
                <v-btn @click="activatePeriodicSync">Activate PeriodicSync</v-btn>
            </v-col>
            <v-col cols="2">
                <v-btn @click="deactivatePeriodicSync">Deactivate PeriodicSync</v-btn>
            </v-col>
        </v-row>
    </v-footer>
</template>

<script setup>
    import { computed, inject } from 'vue'

    import MyWorker from '../my-worker?worker'
    import { createItem } from '@directus/sdk'
    import { useDisplay } from 'vuetify'
    const { mdAndUp } = useDisplay()

    const commonStore = inject('commonStore')
    const tenant = inject('tenant')

    const worker = new MyWorker()

    const getProjects = async () => {
        worker.postMessage('getProjects')
    }

    const getCachesSize = async () => {
        worker.postMessage('getCachesSize')
    }


    const activatePeriodicSync = async () => {
    
        // register periodic check
        const registration = await navigator.serviceWorker.ready;
        try {
        await registration.periodicSync.register("get-latest-news", {
            minInterval: 24 * 60 * 60 * 1000,
        });
        console.log("Periodic Sync registered!")
        } catch {
        console.log("Periodic Sync could not be registered!");
        }
    }

    const deactivatePeriodicSync = async () =>{
        navigator.serviceWorker.ready.then((registration) => {
        registration.periodicSync.unregister("get-latest-news");
        });
    }

    worker.addEventListener('message', e => {
        console.log('received from worker: ', e)

        if (e.data.msg == 'getProjects') {
        showProjectList.value = true
        projects.value = e.data.value
        } 

        if (e.data.msg == 'getCachesSize') console.log('Used Caches Space:' + e.data.value)

        if (e.data.msg == 'getTileURLs') console.log('TILE URLS:' + e.data.value)
        
    } )

    const pageTranslations = computed(() => {
      
      if (!tenant.translations) return []

      let userLanguage = commonStore.getLanguage()

      let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
      
      return translations ? translations : []
    })
        
   

</script>