<template>
  <v-app-bar color="white" :density="mobile ? 'compact': 'prominent'" flat style="border-bottom: solid 2px rgb(var(--v-theme-primary))">
    
      <RouterLink to="/">
        <img :src="$DIRECTUS_ASSETS_URL + tenant.logo.id" :height="mobile ? '48px' : '128px'" style="margin-left:2px" alt="strassenlotse logo" />
      </RouterLink>

      <v-row v-if="!mobile" class="mx-2" style="margin:auto; width: 100%" justify="space-around" align="center">
        <v-col cols="2"  style="text-align: center;">
          <v-btn color="primary"  size="x-large" to="/dokumente">{{ pageTranslations.header_documents }}</v-btn>
        </v-col>
        <v-col cols="1" style="text-align: center;">
          <v-btn color="primary" size="x-large" to="/faq">{{ pageTranslations.header_faq }}</v-btn>
        </v-col>
        <v-col cols="2" style="text-align: center;">
          <v-btn to="/favoriten" size="x-large" color="primary" >{{ pageTranslations.header_favorites }}</v-btn>
        </v-col>
        <v-col v-if="menuEnableAuthority" cols="2" style="text-align: center;">
          <v-btn to="/authority" size="x-large" color="primary" >{{ pageTranslations.header_authority }}</v-btn>
        </v-col>
        <v-col cols="3" style="text-align: center;">
          <v-btn to="/karte" color="white" size="x-large" style="background-color: rgb(var(--v-theme-primary));" class="text-h7 px-3">
            <v-icon>mdi-map</v-icon>&nbsp;{{ pageTranslations.header_offers }}
          </v-btn>
        </v-col>
        <v-col cols="2">
            <v-select variant="underlined" v-model="language" :items="languages" item-title="label" density="compact" style="height:48px">
              <template v-slot:selection="{props, item }">
                <v-list-item v-bind="props" :title="item.raw.department">
                  <img :src="item.raw.img" height="15px" width="24px" :alt="item.raw.label" />&nbsp;{{item.raw.label}}
                </v-list-item>
              </template>
              <template v-slot:item="{ props, item }">
                <v-list-item v-bind="props" :title="item.raw.department">
                  <img :src="item.raw.img" height="15px" width="24px" :alt="item.raw.label" />&nbsp;{{item.raw.label}}
                </v-list-item>
              </template>
            </v-select>
        </v-col>
      </v-row>

      <v-spacer />
      
      <v-app-bar-nav-icon v-if="mobile" variant="text" @click.stop="drawer = !drawer" size="x-large"></v-app-bar-nav-icon>
  </v-app-bar>
  
  <v-navigation-drawer v-model="drawer" location="top" temporary>
    <v-list>
        <v-list-item to="/karte"><v-icon class="mr-2">mdi-map</v-icon>{{ pageTranslations.header_offers }}</v-list-item>
        <v-list-item to="/favoriten"><v-icon class="mr-2">mdi-star-outline</v-icon>{{ pageTranslations.header_favorites }}</v-list-item>
        <v-list-item to="/dokumente"><v-icon class="mr-2">mdi-file-document-outline</v-icon>{{ pageTranslations.header_documents }}</v-list-item>
        <v-list-item v-if="menuEnableAuthority" to="/authority"><v-icon class="mr-2">mdi-file-document-outline</v-icon>{{ pageTranslations.header_authority }}</v-list-item>
        <v-list-item to="/faq"><v-icon class="mr-2">mdi-frequently-asked-questions</v-icon>{{ pageTranslations.header_faq }}</v-list-item>
        <v-list-item to="/kontakt"><v-icon class="mr-2">mdi-email-outline</v-icon>{{ pageTranslations.header_contact }}</v-list-item>
        <v-list-item to="/teilnahmebedingungen"><v-icon class="mr-2">mdi-file-document-outline</v-icon>{{ pageTranslations.footer_conditions_of_participation }}</v-list-item>
        <v-list-item v-if="!hideInstall && !showIOSInstall" @click="installApp()"><v-icon class="mr-2">mdi-cog-outline</v-icon>{{ pageTranslations.header_install_app }}</v-list-item>
        <v-list-item v-if="showIOSInstall"><v-icon class="mr-2">mdi-cog-outline</v-icon>Über Share-Einstellungen App installieren.</v-list-item>
        <v-list-item>
          <v-select variant="underlined" v-model="language" :items="languages" item-title="label" density="compact">
            <template v-slot:selection="{ props, item }">
              <v-list-item v-bind="props" :title="item.raw.department">
                <img :src="item.raw.img" height="15px" width="24px" :alt="item.raw.label" />&nbsp;{{item.raw.label}}
              </v-list-item>
            </template>
            <template v-slot:item="{ props, item }">
              <v-list-item v-bind="props" :title="item.raw.department">
                <img :src="item.raw.img" height="15px" width="24px" :alt="item.raw.label" />&nbsp;{{item.raw.label}}
              </v-list-item>
            </template>
          </v-select>
        </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script setup>
    import flag_germany from '../assets/Flag_of_Germany.svg'
    import flag_uk from '../assets/Flag_of_the_United_Kingdom.svg'
    import { useDisplay } from 'vuetify'
    import { onMounted, ref, watch, computed, inject } from 'vue'
    import UAParser from 'ua-parser-js'

    const tenant = inject('tenant')
    const commonStore = inject('commonStore')

    const { mdAndUp, mobile } = useDisplay()
    const language = ref(commonStore.getLanguage())
    
    const menuEnableAuthority = ref(import.meta.env.VITE_PROJECT_MENU_ENABLE_AUTHORITY)

    const drawer = ref(false)

    const languages = ref([
                {'value':'en-US', 'label':'English', 'img': flag_uk}, 
                {'value':'de-DE', 'label':'Deutsch', 'img': flag_germany},
                //{'value':'ua-UK', 'label':'українська мова', 'img': require('@/assets/Flag_of_Ukraine.svg')},
                //{'value':'es-ES', 'label':'español', 'img': require('@/assets/Flag_of_Spain.svg')},
                //{'value':'ru-RU', 'label':'Русский язык', 'img': require('@/assets/Flag_of_Russia.svg')},
                //{'value':'fr-FR', 'label':'français', 'img': require('@/assets/Flag_of_France.svg')},
                //{'value':'bg-BG', 'label':'Български', 'img': require('@/assets/Flag_of_Bulgaria.svg')},
                //{'value':'pl-PL', 'label':'polski', 'img': require('@/assets/Flag_of_Poland.svg')}
                ])

  onMounted(() => {
    //addToUserStatistic()
  })

  watch(language, async (newLanguage, oldLanguage) => {
    commonStore.setLanguage(newLanguage)
  })

  const installApp = async () => {
      
      if (showIOSInstall) {
        
      }
      else if (window.deferredPrompt !== undefined && window.deferredPrompt !== null) {

        window.deferredPrompt.prompt()
        const { outcome } = await window.deferredPrompt.userChoice;

        if (outcome === 'accepted') {
            window.deferredPrompt = null;
        }
      }
    }

  const pageTranslations = computed(() => {
      
    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 
    
    return translations ? translations : []
  })

  const showIOSInstall = computed(() => {
    let parser = new UAParser()
    let browser = parser.getBrowser()

    if (browser.name.includes('Safari')) return true
    return false
  })

  const hideInstall = computed(() => {
    let parser = new UAParser()
    let browser = parser.getBrowser()

    if (browser.name.includes('Firefox') && (browser.name != 'mobile' && browser.name != 'tablet')) return true
    return false
  })
  

  const addToUserStatistic = async () => {

    let parser = new UAParser()
    let parserResults = parser.getResult()

    let save = {}

    let device_type = parserResults.device.type

    if (!device_type && innerWidth >=1920 ) device_type = 'unknown - desktop'
    if (!device_type && innerWidth >= 1280 ) device_type = 'unknown - tablet / laptop'
    if (!device_type) device_type = 'unknown - phone / tablet'

    save.browser_name = parserResults.browser.name
    save.browser_version = parserResults.browser.version
    save.device_model = parserResults.device.model
    save.device_type = device_type
    save.device_vendor = parserResults.device.vendor
    save.engine_name = parserResults.engine.name
    save.engine_version = parserResults.engine.version
    save.os_name = parserResults.os.name
    save.os_version = parserResults.os.version
    save.screen_width = innerWidth
    save.screen_height = innerHeight
    save.language = navigator.language
    save.referrer = document.referrer
    save.tenant_id = import.meta.env.VITE_PROJECT_TENANT_ID

    const result = await directus.request(createItem('user_statistics', save))

    console.log('onMounted -> addToUserStatistic')
    console.log(save, result)
    }
</script>