<template>
  <div>
    <b v-if="opening_days">
      <span v-if="opening_days.includes('monday')">{{ pageTranslations['common_monday_short'] }} &nbsp;</span>
      <span v-if="opening_days.includes('tuesday')">{{ pageTranslations['common_tuesday_short'] }} &nbsp;</span>
      <span v-if="opening_days.includes('wednesday')">{{ pageTranslations['common_wednesday_short'] }} &nbsp;</span>
      <span v-if="opening_days.includes('thursday')">{{ pageTranslations['common_thursday_short'] }} &nbsp;</span>
      <span v-if="opening_days.includes('friday')">{{ pageTranslations['common_friday_short'] }} &nbsp;</span>
      <span v-if="opening_days.includes('saturday')">{{ pageTranslations['common_saturday_short'] }} &nbsp;</span>
      <span v-if="opening_days.includes('sunday')">{{ pageTranslations['common_sunday_short'] }} &nbsp;</span>
    </b>
  </div>
</template>

<script setup>

  import { inject, computed } from 'vue'

  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  defineProps({
    opening_days: {
      required: true
    }
  })
  
  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 

    return translations ? translations : []
  })
</script>