<template>
  <v-container v-if="project">

    <v-card flat>

      <v-card-text class="text-h5 text-md-h3 justify-center">
        {{project.name}}
      </v-card-text>

      <v-card-text class="wysiwyg-text ml-3" v-html="translatedProject.description" />

      <v-card-text class="text-h6">
        <h3 class="mb-3"><v-icon class="mr-1" color="secondary">mdi-ticket</v-icon>{{ pageTranslations.project_detail_local_offers }}</h3>
        <TagIcon :tag_id="project.main_tag.id" />
        <TagIcon :tag_id="tag.tags_id" v-for="(tag, index) in project.tags" :key="index" />
      </v-card-text>
      
      <v-card-text v-if="project.opening_days" class="text-h6">
        <h3 class="mb-3"><v-icon class="mr-1" color="secondary">mdi-clock-outline</v-icon>{{ pageTranslations.project_detail_opening_hours }}</h3>
        <div v-if="project.opening_text" class="wysiwyg-text pl-3" v-html="translatedProject.opening_text" />
        <OpeningDays v-else :opening_days="project.opening_days" class="pl-3"/>
      </v-card-text>

      <v-card-text v-if="project.opening_events" class="text-h6">
        <h3 class="mb-3"><v-icon class="mr-1" color="secondary">mdi-calendar-star</v-icon>{{ pageTranslations.project_detail_events }}</h3>
        <div class="mb-2" v-for="(item, index) in project.opening_events" :key="index">
          <b>{{item.name}}</b>
          {{item.day_of_week}} {{item.time}}
          <br />
          {{item.description}}
        </div>
      </v-card-text>

      <v-card-text v-if="project.spoken_languages" class="text-h6">
        <h3 class="mb-3"><v-icon class="mr-1" color="secondary">mdi-translate</v-icon>{{ pageTranslations.project_detail_spoken_languages }}</h3>
        <v-chip v-for="(language, index) in project.spoken_languages" class="mr-1 mb-1" :value="index" variant="outlined" label style="background-color: white; border-color: white">
          {{getLanguageTranslation(language)}}
        </v-chip>
      </v-card-text>

      <v-card-text class="text-h6">
        <h3 class="mb-3"><v-icon class="mr-1" color="secondary">mdi-human-greeting-proximity</v-icon>{{ pageTranslations.project_detail_contact_information }}</h3>
        <v-row class="text-body-2 pl-3">
          <v-col cols="12" md="6">
            <span v-if="project.contact_name"><b>{{project.contact_name}}</b><br /><br /></span>
            {{project.street}}<br />
            {{project.zipcode + ' ' + project.city}}<br />
            <div v-if="project.phone_number && !mobile">{{project.phone_number}}</div>
            <div v-if="project.email && !mobile">{{project.email}}</div>
          </v-col>
          <v-col v-if="translatedProject.contact" cols="12" md="6">
            <p class="textbox-text" v-html="translatedProject.contact" />
          </v-col>
        </v-row>
      </v-card-text>
      
      <v-card-text v-if="translatedFAQ.length > 0" class="text-h6">
        <h3 class="mb-3"><v-icon class="mr-1" color="secondary">mdi-frequently-asked-questions</v-icon>{{ pageTranslations.project_detail_faq }}</h3>
        <v-expansion-panels accordion>
          <v-expansion-panel v-for="(entry, index) in translatedFAQ" :key="index">
            <v-expansion-panel-title>{{entry.question}}</v-expansion-panel-title>
            <v-expansion-panel-text class="mx-2 wysiwyg-text" v-html="entry.answer" />
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>

      <v-card-text>
        <v-row>
          <v-col cols="12" md="6">
            <v-btn v-if="project.location" block color="tertiary" class="black--text" :href="'https://www.google.de/maps/search/?api=1&query=' + project.location.coordinates[1] + ',' + + project.location.coordinates[0]" target="_blank">
              <v-icon left dark>mdi-map-marker-outline</v-icon>
              {{ pageTranslations.project_detail_directions }}
            </v-btn>
          </v-col>
          <v-col v-if="project.website" cols="12" md="6">
            <v-btn block color="tertiary" class="black--text" :href="project.website" target="_blank">
              <v-icon left dark>mdi-earth</v-icon>
              {{ pageTranslations.project_detail_website }}
            </v-btn>
          </v-col>
          <v-col v-if="project.email" cols="12" md="6">
            <v-btn color="tertiary" class="black--text mr-2" :href="'mailto:' + project.email" target="_blank">
              <v-icon left dark>mdi-email-outline</v-icon>
            </v-btn>
            {{ project.email }}
          </v-col>
          <v-col v-if="project.phone_number" cols="12" md="6">
            <v-btn color="tertiary" class="black--text mr-2" :href="'tel:' + project.phone_number" target="_blank">
              <v-icon left dark>mdi-phone-outline</v-icon>
            </v-btn>
            {{ project.phone_number }}
          </v-col>
        </v-row>
      </v-card-text>

    </v-card>
    </v-container>
</template>

<script setup>
  import OpeningDays from '../components/OpeningDays.vue'
  import TagIcon from '../components/TagIcon.vue'
  import { ref, inject, onMounted, computed} from 'vue'
  import * as translations from '../assets/translations.json'
  import { useRoute } from 'vue-router'
  const route = useRoute()

  const commonStore = inject('commonStore')

  import { useDisplay } from 'vuetify'

  const { mobile } = useDisplay()

  const props = defineProps({
    project_slug: {
      required: true
    }
  })
  const tenant = inject('tenant')
  const search = inject('search')

  const project = ref(false)

  import { useHead } from 'unhead'

  onMounted(async () => {
    project.value = await search.getProjectBySlug(props.project_slug)

    useHead(
      {
        title: project.value.name,
        meta: [
          { name: 'description', content: project.value.seo_description },
        ],
        link: [{ rel: 'canonical', href: import.meta.env.VITE_CANONICAL_URL + route.path }]
      }
    )
  })

  const translatedProject = computed(() => {
    if (!project.value.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = []

    let temp = project.value.translations.find(element => element.languages_code == userLanguage)
    if (temp) translations = temp
  
    return translations
  })


  const translatedFAQ = computed(() => {
    if (!project.value.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = []

    let temp = project.value.translations.find(element => element.languages_code == userLanguage) 
    if (temp && temp.faqs) translations.push({'question':temp.question, 'answer':temp.answer})
  
    return translations
  })

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 

    return translations ? translations : []
  })

  
  function getLanguageTranslation(language) {
    
    let userLanguage = commonStore.getLanguage()
    
    if (!translations[language] || !translations[language][userLanguage]) return language
    
    return translations[language][userLanguage]
  }

</script>

<style scoped>

</style>