<template>
  <v-card color="#E1ECE5" class="px-2" style="max-width: 600px;">
    <v-row no-gutters>
      <v-col cols="10" class="mt-2">
        <router-link :to="'/projekt/' + project.slug" class="font-weight-bold" target="_blank">{{project.name}}</router-link>
      </v-col>
      <v-col cols="2">
        <v-btn class="mt-2" @click="toggleFavorite()" style="float:right" :icon="isFavorite ? 'mdi-star' : 'mdi-star-outline'" size="x-small"></v-btn>
      </v-col>
      <v-col cols="12">
        {{translatedProject.claim}}
      </v-col>
      <v-col v-if="project.opening_days" cols="12" class="mt-1">
        <OpeningDays :opening_days="project.opening_days"/>
      </v-col>
      <v-col cols="12" class="mt-1">
        <TagIcon :tag_id="project.main_tag.id" /><TagIcon v-if="project.tags.length > 0" :tag_id="tag.tags_id" v-for="tag in project.tags.slice(0, 3)" :key="tag.tags_id"/>
      </v-col>
      <v-col cols="6">
        {{ distanceToTarget }} {{ pageTranslations.map_distance_to_main_station }}
      </v-col>
      <v-col cols="6">
        <v-btn class="mb-2" style="float:right" :to="'/projekt/' + project.slug" size="small" target="_blank">{{ pageTranslations.map_more_button }}</v-btn>
      </v-col>
    </v-row>
  </v-card>
</template>

<script setup>
  import OpeningDays from '@/components/OpeningDays.vue'
  import TagIcon from '@/components/TagIcon.vue'

  import { computed, inject } from 'vue'

  import { useFavoritesStore } from '@/stores/favorites'
  const favorites = useFavoritesStore()

  const tenant = inject('tenant')
  const commonStore = inject('commonStore')

  const props = defineProps({
    project: {
      required: true
    }
  })

  const translatedProject = computed(() => {
    if (!props.project) return []

    let userLanguage = commonStore.getLanguage()

    let translations = []

    let temp = props.project.translations.find(element => element.languages_code == userLanguage)
    if (temp) translations = temp
  
    return translations
  })

  const distanceToTarget = computed(() => {
    
    if(!props.project) return '?'

    let userLocation = commonStore.getUserLocation()
    var userLat = userLocation.lat
    var userLon = userLocation.lon
    var targetLat = props.project.location.coordinates[1]
    var targetLon = props.project.location.coordinates[0]

    var R = 6371 // earth redius in km
    var dLat = (userLat-targetLat)* (Math.PI/180)
    var dLon = (userLon-targetLon)* (Math.PI/180)
    var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(targetLat* (Math.PI/180)) * Math.cos(userLat* (Math.PI/180)) * Math.sin(dLon/2) * Math.sin(dLon/2)
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a))
    var d = R * c 
    if (commonStore.hasRealUserLocation()) return Math.ceil(d) + ' km'
    return Math.ceil(d)
  })

  const isFavorite = computed(() => {

    if(!props.project) return false

    return favorites.has(props.project.id)  ? true : false
  })

  function toggleFavorite() {
    favorites.toggle(props.project)
  }

  const pageTranslations = computed(() => {

    if (!tenant.translations) return []

    let userLanguage = commonStore.getLanguage()

    let translations = tenant.translations.find(element => element.languages_code == userLanguage) 

    return translations ? translations : []
  })
</script>

<style scoped>

</style>