<template>
  <router-link :to="'/karte/' + tag.tags_id.id">
    <div v-if="tag" class="rounded-lg text-center ma-2 pa-4" style="border:solid 1px rgb(var(--v-theme-primary)); background-color: #E1ECE5;">
      <div style="position:relative; top:-46px; left: calc(50% - 30px); border: 1px solid rgb(var(--v-theme-primary)); background-color: #FFFFFF; height: 80px; border-radius:50%; width: 80px;">
          <v-icon :icon="tag.tags_id.icon" style="margin-top: 30%" size="x-large"></v-icon>
      </div>
      <div class="text-h5 text-md-h4" variant="text">{{ translatedName }}</div>
    </div>
  </router-link>
</template>

<script setup>
  import { inject, computed } from 'vue'
  
  const commonStore = inject('commonStore')

  const props = defineProps({
    tag: {
      required: true
    }
  })

  const translatedName = computed(() => {
    
    let userLanguage = commonStore.getLanguage()

    let temp = props.tag.tags_id.translations.find(element => element.languages_code == userLanguage) 
    return temp ? temp.name : ''
  })
</script>