<template>
  <v-chip v-if="tag" class="mr-1 mb-1" :value="tag.id" variant="outlined" label style="background-color: white; border-color: white">
    <v-icon v-if="tag.icon" small class="pr-1">{{tag.icon}}</v-icon>
    {{translations ? translations.name : 'asd'}}
  </v-chip>
</template>

<script setup>

  import { ref, inject, onMounted, computed} from 'vue'
  const tags = inject('tags')
  const commonStore = inject('commonStore')

  const tag = ref(null)

  const props = defineProps({
    tag_id: {
      required: true
    }
  })

  onMounted(async () => {
    tag.value = await tags.getTagById(props.tag_id)
  })

  const translations = computed(() => {

    let language = commonStore.getLanguage()

    if (!tag) return []

    let translations = tag.value.translations.find(element => element.languages_code == language)

    return translations ? translations : []
  })

</script>

<style lang="scss"> 

.tag-text {
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition:text-indent 7s linear;
}

</style>