@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  height:100vh;
}

a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
}

a:hover, a:visited, a:active, a:link {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
}