<template>
  <v-app>

    <Header />

    <v-main :style="mobile ? 'min-height: calc(100vh - 148px)' : 'min-height: calc(100vh - 98px)'">
      <router-view />
    </v-main>

    <v-bottom-navigation v-if="false" :active="mobile" grow color="primary">
      <v-btn>
        <v-icon>mdi-history</v-icon>Recents
      </v-btn>
      <v-btn>
        <v-icon>mdi-heart</v-icon>Favorites
      </v-btn>
      <v-btn @click="mobileMenu.toggle()" :active="mobileMenu.showList">
        <v-icon>mdi-view-list</v-icon>
        <span>Liste</span>
      </v-btn>
    </v-bottom-navigation>

    <ReloadPrompt />

    <Footer />
     
  </v-app>
</template>

<script setup>

  import ReloadPrompt from './components/ReloadPrompt.vue'
  import Header from './components/Header.vue'
  import Footer from './components/Footer.vue'

  import { useDisplay } from 'vuetify'

  import { useMobileMenuStore } from '@/stores/mobileMenu'
  const mobileMenu = useMobileMenuStore()

  const { mobile } = useDisplay()

</script>

<style lang="scss">

.wysiwyg-text {
  a {
    color: #1f4f88;
  }

  p {
    margin: 1.5em 0;

  }

  ul {
    margin: 1.5em 0;
    padding-left: 40px;
  }
}

</style>